
.divCerveja {
    opacity: 0;
    transition: opacity 1s ease;
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
    font-family: Arial, sans-serif;
}

.divCerveja.show {
    opacity: 1;
}
